* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #ff4e50, #f9d423);
  overflow-x: hidden;
}

.glassEffect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.displayGrid {
  display: grid;
  grid-template-columns: repeat(7, 160px);
  padding: 1rem;
  gap: 1rem;
}

.displayGrid>* {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.canBeClicked {
  cursor: pointer;
}

.smallHover {
  transition: all .15s ease-in-out;
}

.smallHover:hover {
  transform: scale(1.1);
}

#musicControllBarSmall {
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  width: calc(100% - 2rem);
  height: 50px;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  padding: .5rem;
  justify-content: center;
  overflow: hidden;
  border-top: none;
  padding-top: calc(.5rem + 4px);
}

#playBar {
  position: absolute;
  width: calc(100% - 1rem);
  height: 4px;
  background-color: grey;
  top: 0;
}

#playBarFill {
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

#currentAlbumCover {
  border-radius: .5rem;
  aspect-ratio: 1;
  object-fit: cover;
  height: 100%;
}

#musicControllBarSongInfo {
  display: flex;
  height: calc(100% - 1rem - 4px);
  gap: .5rem;
  position: absolute;
  left: .5rem;
}

#musicControllBarSongInfo p {
  margin-top: .25rem;
  color: #eeeeee60;
}

#musicControllBarRight {
  display: flex;
  height: calc(100% - 1rem - 4px);
  gap: .5rem;
  position: absolute;
  right: .5rem;
}

#setPlaybackSpeed {
  aspect-ratio: 1;
  height: 100%;
  font-size: 25px;
}

#artistView {
  padding: 2rem;
}

#artistTopInfo {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

#artistTopInfo img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
  width: 300px;
}